<%- include("header") -%>
<div class="small-side-message" style="text-align: center;">


<h1 class="simple-official-message">Contact Us</h1>

<ul style="list-style-type: none;">
  <li>location: xxxxx st xxxx</li>
  <li>phone: 00000000</li>
  <li>answering hours: xxx-xxx, xxx-xxx</li>
</ul>

</div>
<%- include("footer") -%>
