<%- include("header") -%>

<div class="small-side-message">
  <br><br>
  <h1 class="simple-official-message">Contact Us</h1>
  <hr class="hr-dark">
  <br><br>
  <form action="" class="contact-form">
    <label for="fname">Name*:</label>
    <br>
    <input type="text" id="fname" class="contact-text-box" name="fname" value="">
    <br><br><br>
    <label for="email">Email address*:</label><br>
    <input type="text" id="email" class="contact-text-box" name="email" value="">
    <br><br><br>
    <label for="contact-text-box">Message*:</label>
    <br>
    <textarea id="contact-textarea" class="contact-text-box" name="contact-textarea" rows="5" cols="40">
  </textarea>
    <br>
    <button type="submit" class="btn btn-lg btn-block btn-outline-success contact-submit" name="contact-submit" value="">Submit</button>
  </form>

</div>
<%- include("footer") -%>
