<%- include("header") -%>
<br><br><br><br><br><br><br><br><br><br>

<hr class="hr-dark">

<div class="" style="text-align: center;">
<h2 class="simple-official-message">Something went wrong!<br><%= errorMessage %></h2>
</div>

<hr class="hr-dark">

<%- include("footer") -%>
