
.month-label{
  text-align: center;
  margin: auto;
  font-size: 4rem;
}
.calendar{
  table-layout: fixed;
  background-color: #888888;
  text-align: center;
  font-size: 2rem;
  border: solid 5px #0a97b0;
  margin: auto;
  width: 100%;
  /* border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%; */
}
.calendar-wrapper{
  text-align: center;
  color: #202040;
  padding: 0!important;
}
.calender-top{
  width: 100%;
  margin: auto;
  border: solid 5px #0a97b0;
  /* border: solid 5px #f0daa4; */
  border-bottom: 0;
  background-color: #f4f4f4;
}

.calendar-top-list{
  text-align: center;
  /* display: inline-block; */
  list-style-type: none;
  width: 100%;
  padding: 1rem 2rem;
  margin: 0;
}
.top-item{
  display: inline;
}
.top-left-arrow{
  margin-top: 2.5rem;
  float: left;
}
.top-right-arrow{
  margin-top: 2.5rem;
  float: right;
}
.top-left-arrow:hover, .top-right-arrow:hover {
  cursor: pointer;
}

.prevMonth, .nextMonth{
  opacity: 0.6;
}


.header{
  background-color: #eaac9d;
}
.calendarHeader{
  width: 100%
}

.calendar-submit-btn{
  width: 100%;
  padding: 0.5rem 0;
  font-size: 2rem;
  background-color: #32e0c4;
  color: white;
  border: none;
  border-radius: 0.5rem;
}
.datesInput{
  visibility: hidden;
}

.week0, .week2, .week4{
  background-color: #f0f0f0;
}
.week1, .week3, .week5{
  background-color: #ffffff;
}

.day{
  color: #30475e;
  border-radius: 1rem;
}
.day-available:hover{
  background-color: #32e0c4;
  cursor: pointer;
}
.day-chosen, .calendar-submit-btn:hover{
  background-color: #649d66!important;
  color: white;
}
.day-full{
  background-color: #30475e!important;
  cursor: not-allowed!important;
}

.card-review{
  padding-left: 0;
  display: inline-block;
  list-style-type: none;
  border: solid 5px #0a97b0;
  background-color: white;
  width: 100%;
}
.reservation-info-columns{
  padding-top: 2rem;
}
.reservation-top-message{
  text-align: center;
  padding-top: 3rem;
}

.review-suite{
  float: left;
}
.h2-above-calendar{
  text-align: center;
  padding-bottom: 2rem;
}
.card-header{
  display: inline-flex;
  background-color: #f4f4f4!important;
  padding-left: 0.5rem!important;
  width: 100%;
  border: 0!important;
}
#chosenImage{
  width: 20rem;
}
.side-main{
  border: 0!important;
}
