body{
  background-color: #f1e8df!important;
  color: #30475e;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}
nav{
  position: fixed!important;
  z-index: 1000;
  top: 0!important;
  width: 100%!important;
}
hr{
  width: 70%;
}
.hr-dark{
  border-bottom: dotted 1rem #0a97b0;
  border-top: 0;
  margin: 5rem auto;
}
.hr-light{
  border-bottom: dotted 1rem #faeee7;
  border-top: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


nav{
  border-bottom: solid 2px #0a97b0;
}


/* NAVBAR */

.navbar{
  background-color: #faeee7;
  font-family: 'Libre Baskerville', serif;
}
.navbar-brand{
  font-size: 2.0rem!important;
  font-weight: bold;
}
.nav-link{
  font-size: 1.5rem!important;
}

/* MAIN - SECTIONS */
.side-main{
  background-color: #faeee7;
  border: solid 0.2rem #0a97b0;
  background-image: url("../images/pearls5.jpg");
  background-position: center;
}
.middle-main{
  /* border: solid 0.2rem #0a97b0; */
  border: 0;
  padding: 0!important;
}

/* WELCOME SECTION */

#tempting-section{
  background-color: #0a97b0;
  text-align: center;
  padding-bottom: 1rem;
}


/* CAROUSEL */
.photos-carousel{
  text-align: center;
  margin: 0 auto;
}
.beach-picture{
  max-height: 40rem;
}
.carousel-control-prev{
  padding-right: 2.5rem;
}
.carousel-control-next{
  padding-left: 2.5rem;
}


/* MESSAGES TEXT */

.top-welcome{
  background-color: #f1e8df!important;
}
.simple-official-message{
  /* background-color: #faeee7!important; */
  font-family: 'Mukta', sans-serif;
  font-weight: bolder;

  padding: 10rem 7rem 4rem 7rem;

  letter-spacing: 0.2rem;
  word-spacing: 0.5rem;
  color: #0a97b0;
}
.temping-message{
  /* background-color: #faeee7!important; */
  font-family: 'Marck Script', cursive;
  font-size: 2.5rem!important;
  color: #faeee7;
  padding: 3rem 5rem;
}
.small-side-message{
  font-family: 'Marck Script', cursive;
  font-size: 1.5rem;
  font-weight: bolder!important;
  letter-spacing: 0.5rem;
  color: #0a97b0;
  padding-bottom: 2rem;
}

#reserve-sub-msg{
  color: #0a97b0;
}

/* BOTTOM MAIN */
.myButton {
	box-shadow:inset 0 1px 0 0 #9acc85;
	background-color:#74ad5a;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#faeee7;
  font-family: 'Mukta', sans-serif;
	font-size:1.3rem;
	font-weight:bold;
	padding:1rem 7rem;
	text-decoration:none;
}
.myButton:hover {
	background-color:#68a54b;
  /* color: #0a97b0; */
  text-decoration:none;
}
.myButton:active {
	position:relative;
	top:1px;
}

.copyrights{
  color:#faeee7;
  padding-top: 2rem;
}
.copyrights-reservations{
  text-align: center; padding: 3rem 0;
}

.card{
  /* bootstrap's flagged the bottom as important, so better have the same for top */
  margin-top: 1.5rem!important;
  text-align: center;
}

.cards-col{
  text-align: center;
}
/* for the h2 in the card header: */
.my-0{
  margin: auto;
}

.card-body{
  background-color: #faeee7;
  border: solid 3px #0a97b0;
}
.card-header{
  border: solid 3px #0a97b0!important;
  border-bottom: 0!important;
  letter-spacing: 0.15rem!important;
}


/* checkout page */
#confirmedInsertDays .checkoutDay{
  padding: 1rem 0;
}

/* MEDIA QUERRIES */
@media screen and (max-width: 800px) {
  .navbar-brand{
    font-size: 3.5rem!important;
  }
  .nav-link{
    font-size: 3rem!important;
  }
  .simple-official-message{
    font-size: 4rem!important;
  }
  .small-side-message{
    font-size: 2.2rem!important;
  }
  .temping-message{
    font-size: 3rem!important;
  }

  /* pricing page */
  .my-0{
    font-size: 3.5rem!important;
  }
  .mt-3{
    font-size: 2rem!important;
  }
  .pricing-card-title{
    font-size: 3.5rem!important;
  }
  .btn{
    font-size: 3.5rem!important;
  }
}
